<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/commons/css/bootstrap.min.css">
    <style type="text/css">
        span{
            vertical-align: middle;
        }
        a:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav" style="margin: 0 auto;">
        <li class="nav-item">
            <a class="nav-link" href="home.html">主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="addGoods.html">添加物品</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="showArea.html">地区管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="addArea.html">添加地区</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="showBox.html">箱子管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="addBox.html">添加箱子</a>
        </li>
    </ul>
</nav>

<div id="addBoxDiv" class="container" style="width: 80%">
    <h2 class="text-center mb-3">添加箱子</h2>
    <hr />
    <form id="frm">
        <div class="row">
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">地&nbsp;&nbsp;&nbsp;区</label>
                </div>
                <select name="areaId" class="form-control">
                    <option v-for="area in areaList" :value="area.id">{{ area.address }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">箱&nbsp;&nbsp;&nbsp;名</label>
                </div>
                <input v-model="boxName" name="boxName" type="text" class="form-control" placeholder="请输入箱子名称">
            </div>
            <div class="col-3">
                <span class="text-danger">{{ boxTip }}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-group col-6 offset-3">
                <input type="button" class="btn btn-primary col-5" v-on:click="addBox" value="确认添加" />
                <input type="button" class="btn btn-secondary col-5 offset-2 " v-on:click="goBack" value="返回"/>
            </div>
        </div>
    </form>
</div>
</body>
<script src="/commons/js/jquery-3.2.1.min.js"></script>
<script src="/commons/js/bootstrap.min.js"></script>
<script src="/commons/js/vue.min.js"></script>
<script>
    new Vue({
        el: '#addBoxDiv',
        data:{
            boxTip:'',
            boxName:"",
            areaList:'',
            dataReady:true
        },
        methods:{
            addBox:function () {
                var _self = this;
                _self.boxTip = '';
                _self.dataReady = true;
                if (!_self.boxName)
                {
                    _self.boxTip = '请输入箱子名称';
                    _self.dataReady = false;
                }


                if(this.dataReady === true)
                {
                    $.ajax({
                        url: "/box",
                        type:"post",
                        data: $('#frm').serialize(),
                        async: false,
                        success:function (res)
                        {
                            alert("添加成功");
                            window.location.href="showBox.html";
                        }
                    });
                }
            },
            goBack:function () {
                window.history.go(-1);
            }
        },
        beforeCreate:function ()
        {
            var _self = this;

            $.get
            (
                "/areaList",
                function (res)
                {
                    _self.areaList = res;
                }
            );
        }
    });
</script>
</html>