<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/commons/css/bootstrap.min.css">
    <style type="text/css">
        span {
            vertical-align: middle;
        }

        a:hover {
            cursor: pointer;
        }
        .waiting-class {
            position: fixed;
            display: none;
            z-index: 100;
            background: rgba(255,255,255,0.8);
            width: 100%;
            height: 100%;
        }
        .waiting-class img {
            margin-top: 20%;
            margin-left: 45%;
            width: 8%;
        }

    </style>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav" style="margin: 0 auto;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                物品管理
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="home.html">查看物品</a>
                <a class="dropdown-item" href="addGoods.html">添加物品</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                地区管理
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="showArea.html">查看地区</a>
                <a class="dropdown-item" href="addArea.html">添加地区</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                箱子管理
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="showBox.html">查看箱子</a>
                <a class="dropdown-item" href="addBox.html">添加箱子</a>
            </div>
        </li>
    </ul>
</nav>

<div class="waiting-class">
    <img src="img/mouse.gif">
</div>

<div id="showGoodsDiv" class="container" style="width: 90%">
    <h2 class="text-center mb-3">物品列表</h2>
    <hr/>
    <div class="row">
        <div class="col-lg-3">
            <span>选择地址：</span>
            <select v-model="areaId">
                <option value="">全部</option>
                <option v-for="area in areaList" :value="area.id">{{ area.address }}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <span>选择箱子：</span>
            <select v-model="boxId">
                <option value="">全部</option>
                <option v-for="box in boxList" v-bind:value="box.id">{{ box.boxName }}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <span>物品名称：</span>
            <input type="text" placeholder="请输入品名" v-model="goodsName" style="width: 55%"/>
        </div>
        <div class="col-lg-3">
            <input v-on:click="change()" type="button" class="btn btn-primary btn-sm" value="搜  索"/>
        </div>

    </div>
    <br/> <br/>
    <table class="table table-hover table-sm text-center">
        <thead>
        <tr>
            <th>品名</th>
            <th>地址</th>
            <th>箱名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="goods in goodsList">
            <td>{{ goods.goodsName }}</td>
            <td>{{ goods.address }}</td>
            <td>{{ goods.boxName }}</td>
            <td>
                <a style="color: #007BFF;" v-on:click="updateGoods(goods.id)">修改</a>
                <a style="color: #007BFF;" v-on:click="deleteGoods(goods.id)" class="offset-1">删除</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
<script src="/commons/js/jquery-3.2.1.min.js"></script>
<script src="/commons/js/bootstrap.min.js"></script>
<script src="/commons/js/vue.min.js"></script>
<script>
    new Vue({
        el: '#showGoodsDiv',
        data: {
            goodsList: "",
            boxList: "",
            areaList: "",
            goodsName: "",
            areaId: "",
            boxId: ""
        },
        methods: {
            //查询
            change: function () {
                $(".waiting-class").show();
                this.showGoodsList(this);
            },
            //删除
            deleteGoods: function (id) {
                if (confirm("确认要删除吗？")) {
                    var _self = this;

                    $.ajax({
                        url: "/goods",
                        type: "delete",
                        data: {
                            goodsId: id
                        },
                        async: false,
                        success: function (res) {
                            alert("删除成功！")
                            _self.showGoodsList(_self);
                        },
                        error: function () {
                            alert("未知错误！")
                        }
                    });
                }
            },
            updateGoods: function (id) {
                window.location.href = "updateGoods.html?goodsId=" + id;
            }
        },
        watch: {
            areaId: function (val) {
                $(".waiting-class").show();

                var _self = this;
                _self.areaId = val;
                _self.boxId = "";

                $.get
                (
                    "/boxList?areaId=" + val,
                    function (res) {
                        _self.boxList = res;

                        _self.showGoodsList(_self);
                    }
                );

            },
            boxId: function (val) {
                $(".waiting-class").show();

                this.boxId = val;

                this.showGoodsList(this);
            }
        },
        beforeCreate: function () {
            $(".waiting-class").show();
            var _self = this;
            $.get
            (
                "/goodsList",
                function (res) {
                    _self.goodsList = res;
                    $(".waiting-class").hide();
                }
            );

            $.get
            (
                "/boxList",
                function (res) {
                    _self.boxList = res;
                }
            );

            $.get
            (
                "/areaList",
                function (res) {
                    _self.areaList = res;
                }
            );
        }
    });

    Vue.prototype.showGoodsList = function (_self) {

        $.get
        (
            "/goodsList",
            {areaId: _self.areaId, boxId: _self.boxId, goodsName: _self.goodsName},
            function (res) {
                _self.goodsList = res;
                $(".waiting-class").hide();
            }
        );
    }
</script>
</html>