<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/commons/css/bootstrap.min.css">
    <style type="text/css">
        span{
            vertical-align: middle;
        }
        a:hover{
            cursor: pointer;
        }
        .waiting-class {
            position: fixed;
            display: none;
            z-index: 100;
            background: rgba(255,255,255,0.8);
            width: 100%;
            height: 100%;
        }
        .waiting-class img {
            margin-top: 20%;
            margin-left: 45%;
            width: 8%;
        }

        #close-div {
            position: fixed;
            display: none;
            z-index: 100;
            background: rgba(255, 255, 255, 0.8);
            width: 100%;
            height: 100%;
        }

        #close-div div {
            margin-top: 13%;
            margin-left: 16%;
        }

        #close-div div div {
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav" style="margin: 0 auto;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                物品管理
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="home.html">查看物品</a>
                <a class="dropdown-item" href="addGoods.html">添加物品</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                地区管理
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="showArea.html">查看地区</a>
                <a class="dropdown-item" href="addArea.html">添加地区</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                箱子管理
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="showBox.html">查看箱子</a>
                <a class="dropdown-item" href="addBox.html">添加箱子</a>
            </div>
        </li>
    </ul>
</nav>

<div class="waiting-class">
    <img src="img/mouse.gif">
</div>

<div id="showBoxDiv" class="container" style="width: 90%">

    <div id="close-div" class="container">
        <div class="row">
            <div class="col-5">
                <p>提示：删除箱子将删除其下所有的物品，确认要删除吗？如果确认，请在下面输入<span class="text-danger">"确认"</span>两字！</p>
                <p><input type="text" v-model="confirmDel" class="col-11"/></p>
                <p>
                    <input type="button" class="btn btn-primary col-4" v-on:click="deleteBox" value="确认删除"/>
                    <input type="button" class="btn btn-secondary col-4 offset-3 " v-on:click="cancleDel" value="取消"/>
                </p>
            </div>
        </div>
    </div>

    <h2 class="text-center mb-3">物品列表</h2>
    <hr />
    <div class="row">
    <table class="table table-hover table-sm text-center">
        <thead>
        <tr>
            <th>箱名</th>
            <th>地区</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="box in boxList" >
            <td>{{ box.boxName }}</td>
            <td>{{ box.address }}</td>
            <td>
                <a style="color: #007BFF;" v-on:click="updateBox(box.id)">修改</a>
                <a style="color: #007BFF;" v-on:click="goDeleteBox(box.id)" class="offset-1">删除</a>
            </td>
        </tr>

        </tbody>
    </table>
    </div>
</div>
</body>
<script src="/commons/js/jquery-3.2.1.min.js"></script>
<script src="/commons/js/bootstrap.min.js"></script>
<script src="/commons/js/vue.min.js"></script>
<script>
    new Vue({
        el:'#showBoxDiv',
        data:{
            boxList:"",
            confirmDel: "",
            dataReady: true,
            delId:""
        },
        methods:{
            goDeleteBox: function (id) {
                var _self = this;

                _self.delId = id;

                $("#close-div").show();
            },
            cancleDel:function()
            {
                var _self = this;

                _self.delId = "";

                $("#close-div").hide();
            },
            //删除
            deleteBox:function (id)
            {
                var _self = this;
                _self.dataReady = true;

                if (_self.confirmDel !== "确认") {
                    alert("请在输入框中输入'确认'");
                    _self.dataReady = false;
                }
                if (!_self.delId)
                {
                    alert("请选择要删除的地区");
                    _self.dataReady = false;
                }
                if (this.dataReady === true) {
                    $.ajax({
                        url: "/box",
                        type:"delete",
                        data:{
                            boxId:_self.delId
                        },
                        async: false,
                        success: function (res) {
                            alert("删除成功！");
                            $.get
                            (
                                "/boxList",
                                function (res)
                                {
                                    _self.boxList = res;
                                }
                            );
                        },
                        error: function () {
                            alert("未知错误！")
                        }
                    });
                }
            },
            updateBox:function (id) {
                window.location.href = "updateBox.html?boxId=" + id;
            }
        },
        beforeCreate:function ()
        {
            $(".waiting-class").show();

            var _self = this;

            $.get
            (
                "/boxList",
                function (res)
                {
                    $(".waiting-class").hide();
                    _self.boxList = res;
                }
            );
        }
    });
</script>
</html>