<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/commons/css/bootstrap.min.css">
    <style type="text/css">
        span{
            vertical-align: middle;
        }
        a:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav" style="margin: 0 auto;">
        <li class="nav-item">
            <a class="nav-link" href="home.html">主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="addGoods.html">添加物品</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="showArea.html">地区管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="addArea.html">添加地区</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="showBox.html">箱子管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="addBox.html">添加箱子</a>
        </li>
    </ul>
</nav>

<div id="addAreaDiv" class="container" style="width: 80%">
    <h2 class="text-center mb-3">修改地区</h2>
    <hr />
    <form id="frm">
        <div class="row">
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">地&nbsp;&nbsp;&nbsp;区</label>
                </div>
                <input v-model="areaId" name="id" type="hidden">
                <input v-model="address" name="address" type="text" class="form-control" placeholder="请输入地区名称">
            </div>
            <div class="col-3">
                <span class="text-danger">{{ addressTip }}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-group col-6 offset-3">
                <input type="button" class="btn btn-primary col-5" v-on:click="updateArea" value="确认修改" />
                <input type="button" class="btn btn-secondary col-5 offset-2 " v-on:click="goBack" value="返回"/>
            </div>
        </div>
    </form>
</div>
</body>
<script src="/commons/js/jquery-3.2.1.min.js"></script>
<script src="/commons/js/bootstrap.min.js"></script>
<script src="/commons/js/vue.min.js"></script>
<script>
    var url = location.search; //获取url中"?"符后的字串
    var theRequest = new Object();
    var areaId = "";
    var address = "";
    if (url.indexOf("?") != -1) {    //判断是否有参数
        var str = url.substr(1); //从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
        strs = str.split("&");
        for(var i = 0; i < strs.length; i ++) {
            theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
        }
        areaId = theRequest["areaId"];
    }

    new Vue({
        el: '#addAreaDiv',
        data:{
            areaId:"",
            boxTip:'',
            address:"",
            addressTip:"",
            dataReady:true
        },
        methods:{
            updateArea:function () {
                var _self = this;
                _self.addressTip = '';
                _self.dataReady = true;
                if (!_self.address)
                {
                    _self.addressTip = '请输入地区名称';
                    _self.dataReady = false;
                }


                if(this.dataReady === true)
                {
                    $.ajax({
                        url: "/area",
                        type:"put",
                        data: $('#frm').serialize(),
                        async: false,
                        success:function (res)
                        {
                            alert("修改成功");
                            window.location.href="showArea.html";
                        }
                    });
                }
            },
            goBack:function () {
                window.history.go(-1);
            }
        },
        beforeCreate:function ()
        {
            var _self = this;

            $.get(
                "/area?areaId=" + areaId,
                function (res) {
                    _self.areaId = res.id;
                    _self.address = res.address;
                }
            );
        }
    });
</script>
</html>