<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/commons/css/bootstrap.min.css">
    <style type="text/css">
        span{
            vertical-align: middle;
        }
        a:hover{
            cursor: pointer;
        }
        .waiting-class {
            position: fixed;
            display: none;
            z-index: 100;
            background: rgba(255,255,255,0.8);
            width: 100%;
            height: 100%;
        }
        .waiting-class img {
            margin-top: 20%;
            margin-left: 45%;
            width: 8%;
        }
    </style>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav" style="margin: 0 auto;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                物品管理
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="home.html">查看物品</a>
                <a class="dropdown-item" href="addGoods.html">添加物品</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                地区管理
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="showArea.html">查看地区</a>
                <a class="dropdown-item" href="addArea.html">添加地区</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                箱子管理
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="showBox.html">查看箱子</a>
                <a class="dropdown-item" href="addBox.html">添加箱子</a>
            </div>
        </li>
    </ul>
</nav>

<div class="waiting-class">
    <img src="img/mouse.gif">
</div>

<div id="updateBoxDiv" class="container" style="width: 80%">
    <h2 class="text-center mb-3">添加箱子</h2>
    <hr />
    <form id="frm">
        <div class="row">
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">地&nbsp;&nbsp;&nbsp;区</label>
                </div>
                <select name="areaId" v-model="areaId" class="form-control">
                    <option v-for="area in areaList" :value="area.id">{{ area.address }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">箱&nbsp;&nbsp;&nbsp;名</label>
                </div>
                <input v-model="boxId" name="id" type="hidden">
                <input v-model="boxName" name="boxName" type="text" class="form-control" placeholder="请输入箱子名称">
            </div>
            <div class="col-3">
                <span class="text-danger">{{ boxTip }}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-group col-6 offset-3">
                <input type="button" class="btn btn-primary col-5" v-on:click="updateBox" value="确认修改" />
                <input type="button" class="btn btn-secondary col-5 offset-2 " v-on:click="goBack" value="返回"/>
            </div>
        </div>
    </form>
</div>
</body>
<script src="/commons/js/jquery-3.2.1.min.js"></script>
<script src="/commons/js/bootstrap.min.js"></script>
<script src="/commons/js/vue.min.js"></script>
<script>
    var url = location.search; //获取url中"?"符后的字串
    var boxId = "";
    if (url.indexOf("?") != -1) {    //判断是否有参数
        var str = url.substr(1); //从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
        strs = str.split("=");   //用等号进行分隔 （因为知道只有一个参数 所以直接用等号进分隔 如果有多个参数 要用&号分隔 再用等号进行分隔）
        boxId = strs[1];          //直接弹出第一个参数 （如果有多个参数 还要进行循环的）
    }

    new Vue({
        el: '#updateBoxDiv',
        data:{
            boxId:"",
            boxTip:'',
            boxName:"",
            areaId:"",
            areaList:'',
            dataReady:true
        },
        methods:{
            updateBox:function () {
                var _self = this;
                _self.boxTip = '';
                _self.dataReady = true;
                if (!_self.boxName)
                {
                    _self.boxTip = '请输入箱子名称';
                    _self.dataReady = false;
                }


                if(this.dataReady === true)
                {
                    $.ajax({
                        url: "/box",
                        type:"post",
                        data: $('#frm').serialize(),
                        async: false,
                        success:function (res)
                        {
                            alert("添加成功");
                            window.location.href="showBox.html";
                        }
                    });
                }
            },
            goBack:function () {
                window.history.go(-1);
            }
        },
        beforeCreate:function ()
        {
            $(".waiting-class").show();

            var _self = this;

            $.get
            (
                "/areaList",
                function (res)
                {
                    _self.areaList = res;
                }
            );

            $.get(
                "/box?boxId=" + boxId,
                function (res) {
                    $(".waiting-class").hide();
                    _self.boxId = res.id;
                    _self.areaId = res.areaId;
                    _self.boxName = res.boxName;
                }
            );
        }
    });
</script>
</html>