<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chao.storagebox.dao.AreaMapper">
    <sql id="Base_Column_List">
   id as id,
   address as address
 </sql>
    <insert id="addArea">
        insert into area (id,address)
        values (#{id}, #{address})
    </insert>
    <update id="updateArea">
        update area
        set address = #{address}
        where id = #{id}
    </update>

    <delete id="deleteArea">
        delete from area
        where id = #{areaId}
    </delete>

    <select id="getAreaList" resultType="com.chao.storagebox.entity.Area">
        SELECT
        <include refid="Base_Column_List"/>
        FROM area
    </select>

    <select id="getAreaById" resultType="com.chao.storagebox.entity.Area">
        select id,address
        from area
        where id = #{areaId}
    </select>
</mapper>